In [2]:
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.graph_objects as go
import plotly
from scipy.stats import ttest_ind

In [7]:
df = pd.read_csv('data/stock_filing_data.csv')

In [14]:
def print_hist(positive, negative, title=''):
    # Print histogram

    fig = go.Figure()
    
    fig.add_trace(go.Histogram(
        x=positive,
        histnorm='percent',
        name='Filing Released', # name used in legend and hover labels
        xbins=dict( # bins used for histogram
            start=-0.1,
            end=0.1,
            size=0.01
        ),
        marker_color='#EB89B5',
        opacity=0.75
    ))
    
    fig.add_trace(go.Histogram(
        x=negative,
        histnorm='percent',
        name='Ordinary Day',
        xbins=dict(
            start=-0.1,
            end=0.1,
            size=0.01
        ),
        marker_color='#330C73',
        opacity=0.75
    ))
    
    fig.update_layout(
        title_text=title, # title of plot
        xaxis_title_text='Inremental Price Increase', # xaxis label
        yaxis_title_text='Samples, %', # yaxis label
        bargap=0.2, # gap between bars of adjacent location coordinates
        bargroupgap=0.1 # gap between bars of the same location coordinates
    )
    
    fig.show(renderer="iframe")

In [15]:
shift = 2
df_ = df.copy()
df_shift = df_.copy()
df_shift['n_trading'] = df_shift['n_trading'] - shift
display(df_.head())
display(df_shift.head())

,filing_date,gics_sector,company_id,date,filing_released,n_calendar,n_trading,close,close_next_n,percent_growth
0,2018-01-22,Information Technology,2236,2018-01-29,1,7,5,197.84,198.23,0.001971
1,2018-01-22,Information Technology,2236,2018-01-26,1,4,4,197.84,201.30,0.017489
2,2018-01-22,Information Technology,2236,2018-01-23,1,1,1,197.84,200.09,0.011373
3,2018-01-22,Information Technology,2236,2018-01-22,1,0,0,197.84,197.84,0.000000
4,2018-01-22,Information Technology,2236,2018-01-24,1,2,2,197.84,197.78,-0.000303

,filing_date,gics_sector,company_id,date,filing_released,n_calendar,n_trading,close,close_next_n,percent_growth
0,2018-01-22,Information Technology,2236,2018-01-29,1,7,3,197.84,198.23,0.001971
1,2018-01-22,Information Technology,2236,2018-01-26,1,4,2,197.84,201.30,0.017489
2,2018-01-22,Information Technology,2236,2018-01-23,1,1,-1,197.84,200.09,0.011373
3,2018-01-22,Information Technology,2236,2018-01-22,1,0,-2,197.84,197.84,0.000000
4,2018-01-22,Information Technology,2236,2018-01-24,1,2,0,197.84,197.78,-0.000303

In [16]:
index_columns = ['company_id', 'filing_date', 'n_trading']
print(f'Size before merge: {len(df_)}')
df_merged = df_.set_index(index_columns).join(
    df_shift.set_index(index_columns), 
    how='inner',
    rsuffix='_after_shift_days'
).reset_index()
print(f'Size after merge: {len(df_merged)}')
df_merged[['company_id', 'filing_date', 'date', 'date_after_shift_days', 'close_next_n', 'close_next_n_after_shift_days']].head()

Size before merge: 145880
Size after merge: 95312

,company_id,filing_date,date,date_after_shift_days,close_next_n,close_next_n_after_shift_days
0,12417,2018-02-27,2018-02-27,2018-03-01,187.9800,182.5100
1,16452,2018-03-22,2018-03-23,2018-03-27,59.3600,59.7500
2,1663,2018-08-27,2018-08-28,2018-08-30,80.4784,80.4110
3,190,2018-11-27,2018-11-29,2018-12-03,31.0220,32.5118
4,7038,2018-02-12,2018-02-12,2018-02-14,53.2762,53.6390

In [17]:
df_merged = df_merged[df_merged['n_trading'] == 1]
df_merged['growth_increment'] = df_merged['percent_growth_after_shift_days'] - df_merged['percent_growth']

# Computing how price changed at n=3 compared to n=1 (percent change)
df_merged['price_growth_during_shift_days'] = df_merged['close_next_n_after_shift_days'] / df_merged['close_next_n'] - 1
display(df_merged[['company_id', 'filing_date', 'n_trading', 'percent_growth', 'price_growth_during_shift_days']].head())

,company_id,filing_date,n_trading,percent_growth,price_growth_during_shift_days
1,16452,2018-03-22,1,-0.010667,0.006570
2,1663,2018-08-27,1,0.000479,-0.000837
5,13135,2019-02-12,1,0.010712,-0.005604
15,9959,2019-02-14,1,-0.025119,0.014556
16,493,2018-02-14,1,0.008077,-0.005448

In [18]:
th = 0.01

# Extract samples for companies that published their reports
filing_released_samples = list(df_merged[(df_merged['filing_released'] == 1) & (df_merged['percent_growth'] >= th)]['price_growth_during_shift_days'])
display(df_merged[(df_merged['filing_released'] == 1) & (df_merged['percent_growth'] > th)].head())

# Extract samples for companies that did not publish their reports
ordinary_day_samples = list(df_merged[(df_merged['filing_released'] == 0)]['price_growth_during_shift_days'])
display(df_merged[(df_merged['filing_released'] == 0)].head())

# Get some basic statistics
t_score, p_value = ttest_ind(filing_released_samples, ordinary_day_samples, equal_var=False)
print(f'Shift = {shift}, Threshold = {th}')
print(f'Filing Released: mean={np.mean(filing_released_samples):.3f}, std={np.std(filing_released_samples):.3f}, number_of_samples={len(filing_released_samples):d}')
print(f'Ordinary Day: mean={np.mean(ordinary_day_samples):.3f}, std={np.std(ordinary_day_samples):.3f}, number_of_samples={len(ordinary_day_samples):d}')
print(f'P-value: {p_value:.3f}')
print('\n')

# Make a histogram
print_hist(filing_released_samples, ordinary_day_samples, 'Price Growth after Financial Statement was Released')

,company_id,filing_date,n_trading,gics_sector,date,filing_released,n_calendar,close,close_next_n,percent_growth,gics_sector_after_shift_days,date_after_shift_days,filing_released_after_shift_days,n_calendar_after_shift_days,close_after_shift_days,close_next_n_after_shift_days,percent_growth_after_shift_days,growth_increment,price_growth_during_shift_days
94,9194,2018-02-23,1,Information Technology,2018-02-26,1,3,47.4119,48.5363,0.023716,Information Technology,2018-02-28,1,5,47.4119,48.0083,0.012579,-0.011136,-0.010878
111,602,2018-02-08,1,Industrials,2018-02-09,1,1,210.0121,212.1981,0.010409,Industrials,2018-02-13,1,5,210.0121,217.9927,0.038001,0.027592,0.027308
146,8499,2019-02-13,1,Communication Services,2019-02-14,1,1,28.8600,29.7000,0.029106,Communication Services,2019-02-19,1,6,28.8600,30.7400,0.065142,0.036036,0.035017
745,17,2018-02-09,1,Industrials,2018-02-12,1,3,119.6414,121.8901,0.018795,Industrials,2018-02-14,1,5,119.6414,121.2394,0.013357,-0.005439,-0.005338
1451,21582,2019-11-14,1,Communication Services,2019-11-15,1,1,25.3500,26.5600,0.047732,Communication Services,2019-11-19,1,5,25.3500,26.7300,0.054438,0.006706,0.006401

,company_id,filing_date,n_trading,gics_sector,date,filing_released,n_calendar,close,close_next_n,percent_growth,gics_sector_after_shift_days,date_after_shift_days,filing_released_after_shift_days,n_calendar_after_shift_days,close_after_shift_days,close_next_n_after_shift_days,percent_growth_after_shift_days,growth_increment,price_growth_during_shift_days
1,16452,2018-03-22,1,Consumer Discretionary,2018-03-23,0,1,60.0000,59.3600,-0.010667,Consumer Discretionary,2018-03-27,0,5,60.0000,59.7500,-0.004167,0.006500,0.006570
2,1663,2018-08-27,1,Consumer Staples,2018-08-28,0,1,80.4399,80.4784,0.000479,Consumer Staples,2018-08-30,0,3,80.4399,80.4110,-0.000359,-0.000838,-0.000837
5,13135,2019-02-12,1,Financials,2019-02-13,0,1,95.0655,96.0838,0.010712,Financials,2019-02-15,0,3,95.0655,95.5453,0.005047,-0.005665,-0.005604
15,9959,2019-02-14,1,Industrials,2019-02-15,0,1,181.0279,176.4806,-0.025119,Industrials,2019-02-20,0,6,181.0279,179.0495,-0.010929,0.014191,0.014556
16,493,2018-02-14,1,Information Technology,2018-02-15,0,1,142.6914,143.8439,0.008077,Information Technology,2018-02-20,0,6,142.6914,143.0602,0.002585,-0.005492,-0.005448

Shift = 2, Threshold = 0.01
Filing Released: mean=-0.001, std=0.025, number_of_samples=257
Ordinary Day: mean=0.002, std=0.026, number_of_samples=24315
P-value: 0.072